/* Footer */

.footer {
  font-family: "Ysabeau SC", sans-serif;
  background-color: var(--bodyBackgroundColor);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

h3 {
  color: var(--fontColorLight);
  font-size: 1.4rem;
  font-weight: 300;
  padding-top: 1rem;
}

.footerLinksToPages {
  display: flex;
  gap: 2rem;
}

.linkToPage {
  color: var(--fontColorLight);
  transition: all 0.4s linear;
}

.linkToPage:hover {
  transform: scale(1.2);
}

.footerSoialMediaLinksContainer {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
}

.footerSocialMediaLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--backgroundColorLight);
  color: var(--navBackgroundColor);
  transition: all 0.4s linear;
}

.footerSocialMediaLink:hover {
  color: var(--fontColorLight);
  background-color: var(--navBackgroundColor);
}

.footerPara {
  color: var(--fontColorLight);
}

.arrowUp {
  width: 80px;
  height: 80px;
  background-color: var(--navBackgroundColor);
  border-radius: 100%;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconArrowUp {
  color: var(--fontColorLight);
}

@media (min-width: 577px) and (max-width: 768px) {
}

@media (max-width: 576px) {
  .footer {
    padding: 0.8rem;
    height: 320px;
    gap: 1rem;
    justify-content: flex-start;
  }
  h3 {
    font-size: 1.2rem;
    padding-top: 0;
  }
  .footerLinksToPages {
    gap: 0.8rem;
  }
  .footerSoialMediaLinksContainer {
    gap: 0.8rem;
    font-size: 1.2rem;
  }
  .footerSocialMediaLink {
    width: 40px;
    height: 40px;
  }
  .footerPara {
    text-align: center;
  }
  .arrowUp {
    width: 60px;
    height: 60px;
    right: 0.5rem;
    bottom: 0.5rem;
  }
}
