
  .about-us {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    background-image: url('../../images/carmap.jpg');
    background-size: cover;
    background-position: center;
  }
  

  .title {
    font-size: 5rem;
    color: #34565C;
    text-align: center;
    margin-top: 2rem;
    text-shadow: 0 0 10px #EBCB8D, 0 0 20px #EBCB8D, 0 0 30px #EBCB8D, 0 0 40px #EBCB8D;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #EBCB8D, 0 0 20px #EBCB8D, 0 0 30px #EBCB8D, 0 0 40px #EBCB8D;
    }
    to {
      text-shadow: 0 0 20px #EBCB8D, 0 0 30px #EBCB8D, 0 0 40px #EBCB8D, 0 0 50px #EBCB8D;
    }
  }

  .section-1,
  .section-2,
  .section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  
  .photo {
    width: 800px;
    border-radius: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }
  
  .photo:hover {
    transform: scale(1.1);
  }
  
  .subtitel {
    font-size: 3.5rem;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #0f181a;
    text-shadow: 2px 2px #fff;
  }


  .text {
    font-size: 2rem;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background-color: #46666B;
  }
  
  @media screen and (max-width: 768px) {
    .about-us {
      padding: 20px;
    }
    .title {
      font-size: 2rem;
    }
    .photo {
      width: 80%;
    }
  }