/* /navbar */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.header {
  color: #e1d4bc;
  background-color: #36565c;
  height: fit-content;
  /*   width: 100%; */
}

.navbarContaner {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #36565c;
  border: 1px solid #31474b;
  border-radius: 10px;
  margin: 1rem 0;
}

.navbarInner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarLeft {
  flex: 25%;
  width: 25%;
  display: flex;
  justify-content: flex-start;
  padding-left: 5rem;
  position: relative;
}

.navbarMain {
  flex: 50%;
  width: 50%;
  display: flex;
  height: 100px;
  align-items: center;
}

.navbarMainLink {
  flex: 10%;
  width: 10%;
  text-align: center;
  border-right: 1px solid #31474b;
  color: #e1d4bc;
  font-size: 1.4rem;
  cursor: pointer;
  text-decoration: none;
}

.navbarMainLink:first-child {
  border-left: 1px solid #31474b; /* Add a side border between the links */
}

.navbarRight {
  flex: 25%;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5rem;
  gap: 1rem;
  font-size: 1.4rem;
}

.navIcon {
  width: 60px;
  height: 60px;
  background-color: #e1d4bc;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #36565c;
}

/* .animation:hover {
  transform: rotate(360deg);
} */

.navbarLogo {
  width: 140px;
}

.navbarHamburger {
  display: none;
}

.extendedNavbar {
  display: none;
}

@media (min-width: 901px) and (max-width: 994px) {
  .navbarLeft {
    padding-left: 2rem;
  }
  .navbarRight {
    padding-right: 2rem;
  }
}

@media (max-width: 900px) {
  .navbarLeft {
    padding-left: 0rem;
  }
  .navbarRight {
    display: none;
  }
  .navbarMain {
    display: none;
  }
  .responsiveNavIcon {
    width: 60px;
    height: 60px;
    background-color: #e1d4bc;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #36565c;
  }
  .navbarHamburger {
    display: flex;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .extendedNavbar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    padding-top: 6rem;
    width: 80%;
    height: 100vh;
    position: absolute;
    top: 120px;
    right: -80%;
    opacity: 1;
    transition: all 0.5s ease;
    background: #36565c;
    right: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99999;
  }
  .extendedNavbarMainLink {
    color: #e1d4bc;
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 1px solid #31474b;
  }
}

.mainLogo {
  font-size: 2.5rem;
  cursor: pointer;
}

.mainLogo:hover {
  color: azure;
}

.navBar {
  display: flex;
  margin-top: 1%;
  margin-bottom: 1rem;
  width: 100%;
  height: 80px;
  font-size: 1.5rem;
  background-color: #36565c;
  box-shadow: -1px 4px 5px -4px rgba(0, 0, 0, 0.77);
}

.navBarList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  width: 100%;
}

/* Search Layer */
.searchLayer {
  position: fixed;
  bottom: -80%;
  z-index: 999999;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: #fff;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  transition: bottom 0.3s ease;
  padding: 20px;
  overflow-y: auto;
}

.searchLayer.active {
  bottom: 0;
}

.searchLayerClose {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.closeButton {
  width: 100px;
}

.searchLayerInner {
  width: 80%;
  margin: auto;
  font-size: 1rem;
}

.searchLayerWrapper {
  width: 50%;
  margin: auto;
  padding-bottom: 5rem;
}

@media (min-width: 577px) and (max-width: 992px) {
  .searchLayerWrapper {
    width: 100%;
    padding-bottom: 4rem;
  }
}

@media (max-width: 576px) {
  .search-layer {
    bottom: -82%;
    height: 82%;
  }
  .searchLayerClose {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0rem;
  }
  .closeButton {
    width: 50px;
  }
  .searchLayerInner {
    width: 100%;
  }
  .searchLayerWrapper {
    width: 100%;
    padding-bottom: 3rem;
  }
}
