.blogPageWrapper {
  font-family: "Ysabeau SC", sans-serif;
  background-color: white;
  color: #36565c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

.blogPageButtonAndSearch {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.blogPageButtonLink {
  font-family: "Satisfy", cursive;
  text-decoration: none;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: #46666b;
  border: 1px solid #46666b;
  border-radius: 2px;
  color: #fbfbfc;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s linear;
}

.blogPageButtonLink:hover {
  background-color: #fbfbfc;
  color: #46666b;
}

.blogPageSearchForm {
  display: flex;
}

.blogPageSearchLabel {
  position: absolute;
  left: -99999px;
}

.blogPageSearchInput {
  flex: 30%;
  width: 30%;
  min-height: 40px;
  font-size: 1.2rem;
  border: 1px solid#B4C7BF;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 1rem 0.5rem;
}

.blogPageSearchInput::placeholder {
  font-family: "Ysabeau SC", sans-serif;
}

.blogPageSearchInput:focus {
  outline: 1px solid #688387;
  background-color: #fbfbfc;
}

.blogPageInner {
  width: 80%;
  margin: auto;
}

.blogPageSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.blogPageArticle {
  flex: 30%;
  width: 30%;
}

.blogPostLink {
  text-decoration: none;
}

.blogPageImage {
}

.blogPageArticleText {
  display: flex;
  flex-direction: column;
  margin-top: -5rem;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-color: #edeadc;
  color: #36565c;
  width: 90%;
  padding: 0 1.5rem;
}

.blogPageTitle {
  font-family: "Laila", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}

.blogPageAuthor {
  text-decoration: underline;
}

.blogPageIconContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* .blogPageDMFade {
  display: flex;
  align-items: center;
  gap: 0.5rem;
} */

@media (max-width: 800px) {
  input::file-selector-button {
    padding: 0.6rem 2rem;
  }
}

.submitButton {
  width: 200px;
  padding: 1rem 1rem;
  margin: auto;
  margin-top: 2rem;
  background-color: #46666b;
  border: none;
  border-radius: 2px;
  color: #fbfbfc;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s linear;
}

.submitButton:hover {
  background-color: #edeadc;
  color: #36565c;
  border: 1px solid #36565c;
}

@media (min-width: 993px) and (max-width: 1500px) {
  .blogPageInner {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 994px) {
  .blogPageInner {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .blogPageH2 {
    margin: 0 1rem;
    font-size: 2.2rem;
  }

  .blogPageInner {
    width: 90%;
  }
  .blogPageArticle {
    flex: 100%;
    width: 100%;
  }
  .blogPageSearch {
    margin: 0 1rem;
  }
  .blogPageArticleText {
    font-size: 0.8rem;
  }
  .blogPageSearchInput {
    font-size: 1rem;
    padding: 1rem 0.5rem;
  }
}
