.postPageWrappe {
  background-color: white;
  color: #36565c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
}

.postPageInner {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 6rem 0;
  border-top: 0.2px solid #b4c7bf;
}

.postPageArticle {
  flex: 70%;
  width: 70%;
}

.postPageAside {
  flex: 30%;
  width: 30%;
  border-left: 0.2px solid #b4c7bf;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.postPageDescription {
  width: 80%;
  margin: auto;
  padding: 2rem 0;
  font-size: 1.4rem;
  text-align: center;
}

.postPageImage {
  width: 90%;
}

.postPageAuthor {
  text-decoration: underline;
}

.postPageDate {
  text-decoration: underline;
}

.postPageBody {
}

.postPageLinkToBlog {
  width: 100%;
  height: 300px;
  background-color: #b4c7bf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postPageLinkToBlogInner {
  margin: 0;
  padding: 0;
  width: 60%;
  height: fit-content;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.linkToBlogPage {
  text-decoration: none;
  color: #36565c;
}

.recentPostsFeed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 0;
  gap: 2rem;
  padding-top: 2rem;
}

.recentPost {
  flex: 45%;
  width: 45%;
}

.recentPostImage {
  height: 200px;
  object-fit: cover;
}
@media (min-width: 768px) and (max-width: 994px) {
}
@media (max-width: 768px) {
}
