/* Registartion Style */

.registartionWrapper {
  /*   background-color: #edeadc;
  height: 100vh;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  background-image: url("../../images/pexels-photo-189349.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registrationLogo {
  padding-top: 2rem;
  font-size: 3rem;
  text-align: center;
}

.logoText {
  font-family: "Satisfy", cursive;
  font-size: 1.8rem;
  font-weight: 100;
  margin: 0;
}

.registrationInner {
  min-width: 30%;
  margin: auto;
  background-color: rgba(237, 234, 220, 0.6);
  border: 1px solid #43656a;
  box-shadow: 5px 5px 20px #43656a;
  border-radius: 5px;
  padding: 3rem;
  margin-top: 3rem;
}

.registrationText {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.registrationLink {
  color: #43656a;
  font-size: 1.2rem;
  transition: all 0.4s linear;
}

.registrationLink:hover {
  color: #31474b;
  transform: scale(1.5);
}

.registrationForm {
  display: flex;
  flex-direction: column;
}

.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-width: 5px;
  border-color: gray;
  border-style: outset;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .registrationInner {
    min-width: 40%;
  }
}

@media (max-width: 768px) {
  .registrationInner {
    min-width: 100%;
    border: none;
    border-radius: 0;
    padding: 3rem 2rem;
  }

  .registrationLogo {
    padding-top: 0rem;
  }

  .logoText {
    font-size: 1.6rem;
  }

  .registrationH2 {
    font-size: 2rem;
  }
}
